* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: #F3EEE8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration-line: none;
}

nav {
    display: flex;
    max-width: 1440px;
    padding: 0px 150px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style-type: none
}

nav ul .logo a {
    color: #A06056;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 100% */
    letter-spacing: 2px;
}

nav ul .nav-link a {
    color: #706458;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

nav .menu {
    display: none;
}

header {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

header div {
    width: 50%;
}

header .left-side {
    padding: 24px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    align-items: flex-start;
}

header .left-side h4 {
    color: #A06056;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 1px;
}

header .left-side h1 {
    color: #A06056;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px;
    /* 140% */
    letter-spacing: -0.4px;
}

header .left-side p {
    color: rgba(112, 100, 88, 0.90);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.8px;
    /* 140% */
}

header .right-side img {
    max-width: 100%;
}

.projects {
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding: 64px 150px 70px 150px;
    align-items: flex-start;
    gap: 48px;
}

.projects .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.projects .left-side h1 {
    color: #706458;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    /* 109.091% */
    letter-spacing: -0.6px;
    padding-right: 90px;
}

.projects .left-side a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Terracotta, #A06056);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: 0.3px;
}

.projects .right-side {
    width: 50%;
}

.projects .right-side .cards {
    display: flex;
    align-items: flex-start;
    gap: 29px;
    align-self: stretch;
}

.projects .right-side .cards div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 50%;
}

.projects .right-side .cards div h3 {
    color: #A06056;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 120% */
    letter-spacing: -0.2px;

}

.projects .right-side .cards div p {
    color: rgba(112, 100, 88, 0.90);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.trends {
    max-width: 1440px;
    width: 100%;
    padding: 70px 150px 70px 150px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.trends-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trends .trends-header .trends-header-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trends-header-title h1 {
    color: #121212;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 114.286% */
    letter-spacing: -0.3px;
}

.trends-header-title p {
    color: rgba(112, 100, 88, 0.90);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph */
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.trends-header-title a {
    color: #A06056;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Button, Link */
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: 0.3px;
}

.trends-subscribe-form input {
    color: rgba(112, 100, 88, 0.90);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph */
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.trends-subscribe-form button {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Button, Link */
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: 0.3px;
}

.trends-subscribe-form button {
    border-radius: 1px;
    background: #534B42;
}



.slides {

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.trends .trends-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.trends .trends-footer h1 {
    color: #534B42;
    font-feature-settings: 'clig' off, 'liga' off;

    /* H3 */
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    /* 88.889% */
    letter-spacing: -0.3px;
}

.trends .trends-footer p {
    color: #706458;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph */
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

footer {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 70px 150px 64px 150px;
    flex-direction: column;
    gap: 48px;
}

footer .content {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .content .footer-logo {
    color: #534B42;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 73.529% */
    letter-spacing: 2px;
}

footer .content .links {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;

}

footer .content .links .grup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

footer .content .blog {
    display: flex;
    width: 235px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


footer .content .footer-logo div h3 {
    color: #534B42;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 73.529% */
    letter-spacing: 2px;
}

footer .grup h4 {
    color: #534B42;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 120% */
    letter-spacing: -0.2px;
}

footer .content .links .grup li a {
    color: #706458;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}


.content li {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;

}

.content h3 {
    color: #706458;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.content p {
    color: #706458;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
}

.blog h3 {
    color: #534B42;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 120% */
    letter-spacing: -0.2px;
}

.blog p {
    color: #706458;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
}

.blog a {
    color: var(--Terracotta, #A06056);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: 0.3px;
}

.Rooms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

.Service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

.network {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;
}

.legals p {
    flex: 1 0 0;
    color: rgba(112, 100, 88, 0.70);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.legals {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.legals ul {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}



.legals .link1-link2 a {
    /* color: rgba(112, 100, 88, 0.70); */
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */

      


}

.link1-link2 {
    list-style-type: none;

    
}

@media only screen and (max-width : 768px) {
    nav ul .nav-link {
        display: none;
    }

    nav .contact {
        display: none;
    }

    nav .menu {
        display: block;
    }

    nav {
        padding: 0 25px;
    }

    nav ul .logo a {
        color: #FFF;
        line-height: 25px;
    }

    header div {
        width: 100%;

    }

    header .right-side img {
        height: 667px;
        width: 100%;
        object-fit: cover;
    }

    header .left-side {
        position: absolute;
        padding: 25px;
        gap: 24px;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    header .left-side h4 {
        color: #FFF;
    }

    header .left-side h1 {
        color: #FFF;
        font-size: 35px;
        line-height: 40px;
        /* 140% */
        letter-spacing: -0.3px;
    }

    header .left-side p {
        color: #FFF;
        /* Paragraph */
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        /* 138.889% */
    }

    .projects {
        padding: 48px 32px;
        flex-direction: column;
        gap: 32px;
    }

    .projects .left-side {
        width: 100%;
        gap: 32px;
    }

    .projects .left-side h1 {
        color: #534B42;
        font-size: 35px;
        font-weight: 400;
        line-height: 40px;
        /* 109.091% */
        letter-spacing: -0.3px;
        padding-right: 0
    }

    .projects .left-side a {
        font-weight: 900;
    }

    .projects .right-side {
        width: 100%;
        gap: 40px;
    }

    .projects .right-side .cards {
        flex-direction: column;
        gap: 40px;
    }

    .projects .right-side .cards div {
        width: 100%;
        gap: 5px;
    }

    .trends {
        padding: 48px 32px;
    }

    .trends .trends-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .trends .trends-header .trends-header-title {
        width: 100%;
    }

    .trends .trends-header .trends-subscribe-form {
        width: 100%;
        flex-direction: column;
    }

    .trends .trends-header .trends-header-title input,
    .trends .trends-header .trends-subscribe-form button {
        width: 100%;
    }

     .grup {
        width: 100%;
        flex-wrap: wrap;
    }

    .trends-footer {
        width: 100%;
        flex-wrap: wrap;
    }

    footer .grup {
        width: 100%;
        flex-direction: column;
    }
}